In [1]:

import pandas as pd
import mysql.connector

from upload_data import UploadData
from add_transactions import AddTransactions
from download_data import DownloadData

print("- catBI: CD")

- catBI: CD

In [ ]:
# Upload and add new transactions
UploadData("~/data_vicidial_eci_20241104.csv")
AddTransactions()

In [2]:
# Download data
DownloadData()

- Download Data

In [4]:
# Processing
records = pd.read_csv("~/records.csv", sep = ",", names=['id', 'record'], skiprows=1)
transactions = pd.read_csv("~/transactions.csv", sep = ",", names=['id_record', 'duration', 'user','call_at', 'status', 'nir'], skiprows=1)

   id_record  duration    user              call_at status  nir
0      34108       370  PAR020  2024-11-04 09:48:06      1  557
1      34581       430  PAR020  2024-11-04 09:49:59      1  558
2      27774       510  PAR040  2024-11-04 10:06:40      1  552
3      57550       750  PAR074  2024-11-04 10:10:45      1  764
4      38477       420  PAR040  2024-11-04 10:11:12      1  563

In [50]:

# Calls
calls = len(transactions)
print("Calls:", calls)

# Llamadas donde el usuario no está vacío
calls_transfered = transactions[transactions['user'] != 'VDAD'].shape[0]
print("Calls transfered:", calls_transfered)

# Llamadas mayores a 2 minutos
calls_2_minutes = transactions[transactions['duration'] > 120].shape[0]
print("Calls 2 minutes:", calls_2_minutes)

# Llamadas mayores a 5 minutos
calls_5_minutes = transactions[transactions['duration'] > 300].shape[0]
print("Calls 5 minutes:", calls_5_minutes)

Calls: 256741
Calls transfered: 256741
Calls 2 minutes: 13029
Calls 5 minutes: 4270